<nav class="col-md-2 d-none d-md-block bg-dark sidebar min-vh-100 p-3">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link text-white" href="#" data-section="lecturesSection">📚 Moje zajęcia</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#" data-section="myFilesSection">📊 Moje pliki</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#" data-section="uploadSection">📤 Prześlij plik</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#" data-section="filesSection">📁 Wszystkie pliki</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#" data-section="usersSection">👥 Użytkownicy</a></li>
  </ul>
</nav>